In [29]:
def alignment_score(sequence1, sequence2, match = 1, gap = -1, mismatch = -1):
   score = 0
   nucleotides = ['A', 'T', 'C', 'G' ]
   character_number = 0
   if len(sequence1) != len(sequence2):
    print('The sequences are not the same length')
    return
   if len(sequence1) == len(sequence2):
     for pos in range(0,len(sequence1)):
       letter1 = sequence1[pos]
       letter2 = sequence2[pos]
       if letter1 == letter2:
         score = score + match
         character_number = character_number + 1
       if letter1 != letter2:
          if letter1 == '-' and letter2 != '-':
             score = score + gap
             character_number = character_number + 1
          elif letter2 == '-' and letter1 != '-':
             score = score + gap
             character_number = character_number + 1 
          else:
           score = score + mismatch
           character_number = character_number + 1          
       if character_number == len(sequence2):   
          print('seq 1:', sequence1)
          print('seq 2:', sequence2)
          print('alignment score is:', score)
          return

In [24]:
#Calculate alignment score between sequences 'AATATGATA' and 'AAGTTCATA''? Please write your codes in your jupyter notebook.
#for match = 1, mismatch = -1, gap = -1,  score = 3
#for match = 2, mismatch = -2, gap = -2,  score = 6

In [32]:

alignment_score('AATATGATA','AAGTTCATA', match=1, mismatch = -1, gap = -1)

seq 1: AATATGATA
seq 2: AAGTTCATA
alignment score is: 3

In [33]:
alignment_score('AATATGATA','AAGTTCATA', match=2, mismatch = -2, gap = -2)

seq 1: AATATGATA
seq 2: AAGTTCATA
alignment score is: 6

In [ ]:
#(5 points) Calculate alignment score between sequences 'A-TAT-ATA' and 'AATTTC-TA''? Please write your codes in your jupyter notebook.
#1. for match = 1, mismatch = -1, gap = -1,  score = 1
#2. for match = 2, mismatch = -2, gap = -2,  score = 2

In [34]:

alignment_score('A-TAT-ATA', 'AATTTC-TA',match =1, mismatch=-1, gap =-1)

seq 1: A-TAT-ATA
seq 2: AATTTC-TA
alignment score is: 1

In [35]:
alignment_score('A-TAT-ATA', 'AATTTC-TA',match =2, mismatch=-2, gap =-2)

seq 1: A-TAT-ATA
seq 2: AATTTC-TA
alignment score is: 2

In [ ]:
#(5 points) Calculate alignment score between sequences 'AGCTGAA' and 'AATTTCAGAGA''? Please write your codes in your jupyter notebook. (Hint: this should return the error because the two sequences have different length)

In [36]:

alignment_score('AGCTGAA','AATTTCAGAGA')

The sequences are not the same length