In [1]:
#Q3. Assume that we have our first DNA sequence that has a string as 'TTCATTTAT', which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA1', and assign the sequence to this variable. Then we need to print the variable by print("DNA1: ", DNA1)#

In [2]:
DNA1 = 'TTCATTTAT'
print (DNA1)

TTCATTTAT

In [ ]:
#Q2. Again, we have our second DNA sequence that has a string as 'AAAAATAAA'. We would like to assign this sequence to another variable called 'DNA2', and print the variable by print("DNA2: ", DNA2).#

In [3]:
DNA2 = 'AAAAATAAA'
print (DNA2)

AAAAATAAA

In [ ]:
#Q3. Now we have got two sequences, which were assigned two variables, DNA1, and DNA2. We would like to calculate the length of the two sequences and assign the length values to new variables, named DNA1_length and DNA2_length. Similarly, please print the values of the new variables.#

In [5]:
DNA1_length = len(DNA1)
print (DNA1_length)

9

In [6]:
DNA2_length = len(DNA2)
print (DNA2_length)

9

In [9]:
#Q4. Based on the three steps above, we got two variables that store DNA sequences (DNA1, and DNA2), and also two variables that store the length of DNA sequences (DNA1_length and DNA2_length), We are curious on the equality of the length of two DNA sequences.
#Please write your python codes for the following questions:

#1. Is the length of DNA1 equal to the length of DNA2?
DNA1_length == DNA2_length

True

In [10]:
#2. Is the length of DNA1  not equal to the length of DNA2?
DNA1_length != DNA2_length

False

In [15]:
#3. Is the length of DNA1 larger than the length of DNA2
  DNA1_length > DNA2_length

False

In [16]:
#4. Is the length of DNA1 smaller than the length of DNA2
DNA1_length < DNA2_length

False

In [18]:
#Q5. Now let's do some sequence manipulations in python. For sequences, DNA1, and DNA2
#Please write your python codes for the following activities:

#1.What is the first letter of the first sequence, DNA1?
DNA1[0]

'T'

In [19]:
#2. What is the first letter of the second sequence, DNA2
DNA2[0]

'A'

In [22]:
#3. What is the last letter of the first sequence, DNA1
DNA1[8]

'T'

In [23]:
#4. What is the last letter of the second sequence, DNA2
DNA2[8]

'A'

In [24]:
#5.Are the first letters of two sequences the same
DNA1[0]==DNA2[0]

False

In [25]:
#6. Are the last letters of two sequences the same
DNA1[8]==DNA2[8]

False

In [26]:
#7. What is the 5th letter of the first sequence, DNA1
DNA1[4]

'T'

In [27]:
#8. What is the 5th letter of the second sequence, DNA2
DNA2[4]

'A'

In [28]:
#9. What are the first 5 letters of the first sequence, DNA1
DNA1[:5]

'TTCAT'

In [29]:
#10. What are the first 5 letters of the second sequence, DNA2
DNA2[:5]

'AAAAA'

In [31]:
#11. What are the last 5 letters of the first sequence, DNA1
DNA1[4:9]

'TTTAT'

In [32]:
#12. What are the last 5 letters of the second sequence, DNA2
DNA2[4:9]

'ATAAA'

In [33]:
#13. How to concatenate the last 5 letters of the first sequence and the last 5 letters of the second sequence together
DNA1[4:9] + DNA2[4:9]

'TTTATATAAA'

In [59]:
#Q6. et's continue with the sequence manipulations in python, but this time, we need to call some python's built-in functions. For sequences, DNA1, and DNA2
#Please write your python codes for the following activities:

#1. How many times does the character A appear in the first sequence DNA1? (hint: use str.count() )
DNA1.count("A")

2

In [58]:
#2. How many times does the character A appear in the first sequence DNA2? (hint: use str.count() )
DNA2.count("A")

8

In [60]:
#3. What is the index at which the first occurrence of the pattern AT begins in the first sequence DNA1? (hint: use str.index() )
DNA1.index("AT")

3

In [61]:
#4. What is the index at which the first occurrence of the pattern AT begins in the second sequence DNA2? (hint: use str.index() )
DNA2.index("AT")

4