In [ ]:
DNA1 = ["T", "T", "C", "A", "T", "T", "T", "A", "T"]
print(type(DNA1))
print("DNA1: ", DNA1)

<class 'list'>
DNA1:  ['T', 'T', 'C', 'A', 'T', 'T', 'T', 'A', 'T']

In [ ]:
DNA2 = ["A", "A", "A", "A", "A", "T", "A", "A", "A"]
print(type(DNA2))

print("DNA2: ", DNA2)

<class 'list'>
DNA2:  ['A', 'A', 'A', 'A', 'A', 'T', 'A', 'A', 'A']

In [ ]:
print(len(DNA1))
print(len(DNA2))

DNA1_length = '9'
DNA2_length = '9'

9
9

In [ ]:
print(DNA1_length == DNA2_length)

print(DNA1_length != DNA2_length)

print(DNA1_length > DNA2_length)

print(DNA1_length < DNA2_length)

True
False
False
False

In [ ]:
len(DNA1)
len(DNA2)

DNA1[0] #Q1
DNA2[1] #Q2
DNA1[8] #Q3
DNA2[8] #Q4

print(DNA1[0:2]) #Q5
print(DNA2[0:2]) 

print(DNA1[7:]) #Q6
print(DNA2[7:])

DNA1[4] #Q7
DNA2[4] #Q8

print(DNA1[:5]) #Q9
print(DNA1[:5]) #Q10

print(DNA1[4:]) #Q11
print(DNA2[4:]) #Q12

DNA3 = DNA1[4:] + DNA2[:5] #Q13
print(DNA3)

['T', 'T']
['A', 'A']
['A', 'T']
['A', 'A']
['T', 'T', 'C', 'A', 'T']
['T', 'T', 'C', 'A', 'T']
['T', 'T', 'T', 'A', 'T']
['A', 'T', 'A', 'A', 'A']
['T', 'T', 'T', 'A', 'T', 'A', 'A', 'A', 'A', 'A']

In [42]:
DNA1Seq = "TTCATTTAT"
Nucleotide1 = "A"

count = DNA1Seq.count(Nucleotide1)

print(count)

2

In [43]:

DNA2Seq = "AAAAATAAA"
Nucleotide2 = "A"

count = DNA2Seq.count(Nucleotide2)

print(count)

8

In [45]:
Seq1 = "TTCATTTAT"
index1 = Seq1.index('AT')

print(index1)

3

In [46]:
Seq2 = "AAAAATAAA"
index2 = Seq2.index('AT')

print(index2)

4