In [47]:


DNA1 = 'TTCATTTAT'
DNA1_length = len(DNA1) 
print("DNA1: ", DNA1)
print("DNA1 length:", DNA1_length) 
DNA2 = 'AAAAATAAA'
DNA2_length = len(DNA2)
print("DNA2: ", DNA2)
print("DNA2 length:", DNA2_length)
DNA1_length==DNA2_length
DNA1_length!=DNA2_length
DNA1_length> DNA2_length
DNA1_length< DNA2_length
DNA1[0]
DNA2[0]
DNA1[8]
DNA2[8]
if (DNA1[0]!=DNA2[0]):
  print('the first letter of the two sequences are not the same')
if (DNA1[8]!=DNA2[8]):
  print('the last letter of the two sequences are not the same')

DNA1[5]
DNA2[5]
nt_seq1=DNA1[0:5]
print(nt_seq1)
nt_seq2=DNA2[0:5]
print(nt_seq2)
nt_seq3=DNA1[4:9]
print(nt_seq3)
nt_seq4=DNA2[4:9]
print(nt_seq4)
print(nt_seq3+nt_seq4)
DNA1.count('A')
DNA2.count('A')
DNA1.index('AT')
DNA2.index('AT')

DNA1:  TTCATTTAT
DNA1 length: 9
DNA2:  AAAAATAAA
DNA2 length: 9
the first letter of the two sequences are not the same
the last letter of the two sequences are not the same
TTCAT
AAAAA
TTTAT
ATAAA
TTTATATAAA

4