In [ ]:
# Q1: Assume that we have our first DNA sequence that has a string as 'TTCATTTAT', which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA1', and assign the sequence to this variable. Then we need to print the variable by print("DNA1: ", DNA1) 
# Please write your python codes for this activity.

In [ ]:
DNA1 = 'TTCATTTAT'
print(DNA1)

TTCATTTAT

In [ ]:
# Q2: Again, we have our second DNA sequence that has a string as 'AAAAATAAA'. We would like to assign this sequence to another variable called 'DNA2', and print the variable by print("DNA2: ", DNA2). 
# Please write your python codes for this activity.

In [ ]:
DNA2 = 'AAAAATAAA'
print(DNA2)

AAAAATAAA

In [ ]:
# Q3: Now we have got two sequences, which were assigned two variables, DNA1, and DNA2. We would like to calculate the length of the two sequences and assign the length values to new variables, named DNA1_length and DNA2_length. Similarly, please print the values of the new variables. 
# Please write your python codes for this activity.

In [ ]:
DNA1_length = len(DNA1)
print(DNA1_length)

9

In [ ]:
DNA2_length = len(DNA2)
print(DNA2_length)

9

In [ ]:
# Q4: Based on the three steps above, we got two variables that store DNA sequences (DNA1, and DNA2), and also two variables that store the length of DNA sequences (DNA1_length and DNA2_length), We are curious on the equality of the length of two DNA sequences. 
# Please write your python codes for the following questions:

# 1. Is the length of DNA1 equal to the length of DNA2?

In [ ]:
len(DNA1) == len(DNA2)

True

In [ ]:
# 2. Is the length of DNA1  not equal to the length of DNA2?

In [ ]:
len(DNA1) != len(DNA2)

False

In [ ]:
# 3. Is the length of DNA1 larger than the length of DNA2?

In [ ]:
len(DNA1) >= len(DNA2)

True

In [ ]:
# 4. Is the length of DNA1 smaller than the length of DNA2?

In [ ]:
len(DNA1) < len(DNA2)

False

In [ ]:
# Q5: Now let's do some sequence manipulations in python. For sequences, DNA1, and DNA2 
# Please write your python codes for the following activities:

# 1. What is the first letter of the first sequence, DNA1?

In [ ]:
(DNA1)[0]

'T'

In [ ]:
# 2. What is the first letter of the second sequence, DNA2?

In [ ]:
(DNA2)[0]

'A'

In [ ]:
# 3. What is the last letter of the first sequence, DNA1?

In [ ]:
(DNA1)[8]

'T'

In [ ]:
# 4. What is the last letter of the second sequence, DNA2?

In [ ]:
(DNA2)[8]

'A'

In [ ]:
# 5. Are the first letters of two sequences the same?

In [ ]:
(DNA1)[0] == (DNA2)[0]

False

In [ ]:
# 6. Are the last letters of two sequences the same?

In [ ]:
(DNA1)[8] == (DNA2)[8]

False

In [ ]:
# 7. What is the 5th letter of the first sequence, DNA1?

In [ ]:
(DNA1)[4]

'T'

In [ ]:
# 8. What is the 5th letter of the second sequence, DNA2?

In [ ]:
(DNA2)[4]

'A'

In [ ]:
# 9. What are the first 5 letters of the first sequence, DNA1?

In [ ]:
print(DNA1[:5])

TTCAT

In [ ]:
# 10. What are the first 5 letters of the second sequence, DNA2?

In [ ]:
print(DNA2[:5])

AAAAA

In [ ]:
# 11. What are the last 5 letters of the first sequence, DNA1?

In [ ]:
print(DNA1[4:])

TTTAT

In [ ]:
# 12. What are the last 5 letters of the second sequence, DNA2?

In [ ]:
print(DNA2[4:])

ATAAA

In [ ]:
# 13. How to concatenate the last 5 letters of the first sequence and the last 5 letters of the second sequence together?

In [ ]:
(DNA1[4:]) + (DNA2[4:])

'TTTATATAAA'

In [ ]:
# Q6: Let's continue with the sequence manipulations in python, but this time, we need to call some python's built-in functions. For sequences, DNA1, and DNA2 
# Please write your python codes for the following activities:

# 1. How many times does the character A appear in the first sequence DNA1? (hint: use str.count() )

In [ ]:
DNA1.count('A')

2

In [ ]:
# 2. How many times does the character A appear in the first sequence DNA2? (hint: use str.count() )

In [ ]:
DNA2.count('A')

8

In [ ]:
# 3. What is the index at which the first occurrence of the pattern AT begins in the first sequence DNA1? (hint: use str.index() )

In [ ]:
DNA1.index('AT')

3

In [ ]:
# 4. What is the index at which the first occurrence of the pattern AT begins in the second sequence DNA2? (hint: use str.index() )

In [ ]:
DNA2.index('AT')

4