In [ ]:
#Assume that we have our first DNA sequence that has a string as 'TTCATTTAT', which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA1', and assign the sequence to this variable. Then we need to print the variable by print("DNA1: ", DNA1)
#Please write your python codes for this activity.

#1) I stored the sequence "TTCATTTAT" into variable "DNA1" because it saves time and it does not require me to type out the entire sequence on other lines of code. I used the "print" command to check if I succesfully connected the sequence to the variable.

In [4]:
DNA1 = 'TTCATTTAT'
print (DNA1)

DNA1: TTCATTTAT

In [ ]:
#Again, we have our second DNA sequence that has a string as 'AAAAATAAA'. We would like to assign this sequence to another variable called 'DNA2', and print the variable by print("DNA2: ", DNA2).
#Please write your python codes for this activity.

#2) Similar to question 1, I stored the sequence "AAAAATAAA" into variable "DNA2" because it is less time consuming then if you were to type out the sequence on other lines of code. Using variables is a good way to organize your information, especially if it ends up being very long.

In [15]:
DNA2 = 'AAAAATAAA'
print (DNA2)

AAAAATAAA

In [ ]:
#Now we have got two sequences, which were assigned two variables, DNA1, and DNA2. We would like to calculate the length of the two sequences and assign the length values to new variables, named DNA1_length and DNA2_length. Similarly, please print the values of the new variables.
#Please write your python codes for this activity.

#3)I set a variable "DNA1_length" to equal the "len(DNA1)" and did the same thing when making "DNA2_length". I printed the data to see how many characters both sequences had.

In [13]:
DNA1_length = len(DNA1)
print (DNA1_length)

9

In [14]:
DNA2_length = len(DNA2)
print (DNA2_length)

9

In [ ]:
#Based on the three steps above, we got two variables that store DNA sequences (DNA1, and DNA2), and also two variables that store the length of DNA sequences (DNA1_length and DNA2_length), We are curious on the equality of the length of two DNA sequences.
#Please write your python codes for the following questions:

#1:Is the length of DNA1 equal to the length of DNA2?

#2:Is the length of DNA1  not equal to the length of DNA2?

#3:Is the length of DNA1 larger than the length of DNA2?

#4:Is the length of DNA1 smaller than the length of DNA2?

#4) 1: Using == to compare two variables tells me whether or not they are equal.
#2: Using != to compare two variables tells me whether or not they aren't equal.
#3: Using > to compare two variables tells me if the first variable is greater than the second.
#4: Using < to compare two variables tells me if the first variable is smaller than the second.

In [9]:
DNA1_length == DNA2_length

True

In [10]:
DNA1_length != DNA2_length

False

In [11]:
DNA1_length > DNA2_length

False

In [12]:
DNA1_length < DNA2_length

False

In [43]:
# 5) Now let's do some sequence manipulations in python. For sequences, DNA1, and DNA2
# Please write your python codes for the following activities:

# 1: What is the first letter of the first sequence, DNA1?

# 2: What is the first letter of the second sequence, DNA2?

# 3:What is the last letter of the first sequence, DNA1?

# 4:What is the last letter of the second sequence, DNA2?

# 5:Are the first letters of two sequences the same?

# 6:Are the last letters of two sequences the same?

# 7:What is the 5th letter of the first sequence, DNA1?

# 8:What is the 5th letter of the second sequence, DNA2?

# 9:What are the first 5 letters of the first sequence, DNA1?

# 10:What are the first 5 letters of the second sequence, DNA2?

# 11:What are the last 5 letters of the first sequence, DNA1?

# 12:What are the last 5 letters of the second sequence, DNA2?

# 13:How to concatenate the last 5 letters of the first sequence and the last 5 
# letters of the second sequence together?

In [ ]:
# For 1-4, I used index command to find out what characters were in what spot.

In [16]:
DNA1[0]

'T'

In [17]:
DNA2[0]

'A'

In [22]:
DNA1[8]

'T'

In [23]:
DNA2[8]

'A'

In [24]:
# For 5-6, I used compared the two first letters of each sequence by using the ==. I did the same with the last two characters of each sequend.

In [25]:
DNA1[0] == DNA2[0]

False

In [26]:
DNA1[8] == DNA2[8]

False

In [ ]:
# For 7-8, I used index again to find what were the 5th characters in each sequence.

In [27]:
DNA1[4]

'T'

In [28]:
DNA2[4]

'A'

In [ ]:
# For 9-10, I used the slicing method to find the first 5 characters of each sequence.

In [30]:
DNA1[0:5]

'TTCAT'

In [31]:
DNA2[0:5]

'AAAAA'

In [ ]:
# For 11-12, I used the slicing method again but for the last 5 characters of each sequence.

In [33]:
DNA1[4:]

'TTTAT'

In [34]:
DNA2[4:]

'ATAAA'

In [ ]:
# To Concatenate the end of the two sequences, I made a new variable named "connected_sequence". I set this variable to equal DNA1[4:] + DNA2[4:], which gave me a sequence with the ending half of DNA1 and DNA2. I printed "connected_sequence" to see what the new ten letter sequence is.

In [35]:
connected_sequence = DNA1[4:] + DNA2[4:]
print(connected_sequence)

TTTATATAAA

In [36]:
# Let's continue with the sequence manipulations in python, but this time, we need to call some python's built-in functions. For sequences, DNA1, and DNA2
# Please write your python codes for the following activities:

#How many times does the character A appear in the first sequence DNA1? (hint: use str.count() )
#How many times does the character A appear in thefirst sequence DNA2? (hint: use str.count() )
#What is the index at which the first occurrence of the pattern AT begins in the first sequence DNA1? (hint: use str.index() )
#What is the index at which the first occurrence of the pattern AT begins in the second sequence DNA2? (hint: use str.index() )

In [ ]:
# For the first two parts of the question, I used str.count() command to find out how many "A"s there were in each of the two original sequences.

In [39]:
print(DNA1.count("A"))

2

In [40]:
print(DNA2.count("A"))

8

In [ ]:
# For the 3rd and 4th question, I used the str.index() command to tell me when the two letters "AT" appear in the sequences

In [41]:
print(DNA1.index("AT"))

3

In [42]:
print(DNA2.index("AT"))

4