In [ ]:
# Q1: Assume that we have one DNA sequence that has a string as 

'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT' 
which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA', and assign the sequence to this variable. Then we need to print the variable by print("DNA: ", DNA) 
# Please write your python codes for this activity.

In [1]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
print("DNA:", DNA)

DNA: GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT

In [ ]:
# 1. How long is this sequence?

In [2]:
DNA_length = len(DNA)
print(DNA_length)

213

In [ ]:
# 2. What is the first letter of the sequence?

In [3]:
(DNA)[0]

'G'

In [4]:
# 3. What is the last letter of the sequence?

In [ ]:
(DNA)[212]

'T'

In [5]:
# 4. What are the first 10 characters of the sequence?

In [6]:
(DNA)[:10]

'GTTGATGTAG'

In [ ]:
# 5. What are the last 10 characters of the sequence?

In [7]:
(DNA)[203:]

'CGTCTTGCTT'

In [ ]:
# 6. How many times does the character 'C' appear in the sequence?

In [8]:
DNA.count('C')

49

In [ ]:
# 7. What is the index at which the first occurrence of the pattern CCAAT begins?

In [9]:
DNA.find('CCAAT')

-1

In [ ]:
# Q2: To check if two Python values, or variables, are equal you can use ==. To check for inequality, you need !=.  As a refresher, have a look at the following examples that all result in True. Feel free to try them out in the Notebook.

2 == (1 + 1)
"intermediate" != "python"
True != False
"Python" != "python"
# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

In [ ]:
# 1. Based on the sequence defined in Q1, write codes to see if the first 10 characters of the sequence and the last 10 characters of the sequence are equal.

In [ ]:
(DNA)[:10] == (DNA)[202:]

False

In [ ]:
# 2. Write Python code to check if the number of the character 'C' is equal to the number of the character 'A' in the DNA sequence.

In [ ]:
DNA.count('C') == DNA.count('A')

False

In [ ]:
# Q3: In the python, the comparison operators also include the less than and greater than signs, < and > in Python. You can combine them with an equals sign: <= and =>. Pay attention: <= is valid syntax, but =< is not. All Python expressions in the following code chunk evaluate to True:

3 < 4
3 <= 4
# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

In [ ]:
# 1. Write Python code to check if the number of the character 'C'  is greater than or equal to the number of the character 'A' in the DNA sequence.

In [ ]:
DNA.count('C') >= DNA.count('A')

False

In [ ]:
# 2. Write Python code to check if the index at which the first occurrence of the letter 'C' is greater than the index at which the first occurrence of the letter 'A'.

In [ ]:
DNA.index('C') > DNA.index('A')

True

In [ ]:
# Q4: A boolean is True or False. With boolean operators such as and, or and not, you can combine these booleans to perform more advanced queries on your data.

# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

In [ ]:
# 1. Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  and smaller than the number of the character 'G' in the DNA sequence.

In [ ]:
DNA.count('C') > DNA.count('A') and DNA.count('C') < DNA.count('G')

False

In [ ]:
# 2. Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  or smaller than the number of the character 'G' in the DNA sequence.

In [ ]:
DNA.count('C') > DNA.count('A') or DNA.count('C') < DNA.count('G')

False

In [ ]:
# 3. Suppose  we have variables x = 8  and y = 9, what will the result be if you execute the command not(not(x < 3) and not(y > 14 or y > 10))  in the notebook?   Note: not has higher precedence than and  and or.

In [ ]:
x = 8 
y = 9
not(not(x < 3))and not(y > 14 or y > 10)

False

In [ ]:
# Q5: To experiment with if and else a bit, have a look at this code sample:

area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

In [ ]:
# 1. What will the output be if you run this piece of code in the notebook?

In [ ]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [ ]:
# 2. Use if, elif and else, check the length of DNA sequence in Q1 with the following conditions: if the length is shorter than 100, print 'the DNA sequence is short.', otherwise if the length is shorter than 500, print "the DNA sequence is medium", otherwise, print "the length is long".

In [ ]:
area = DNA_length
if(area < 100) :
    print("short")
elif(area < 500) :
    print("medium")
else :
    print("large")

medium

In [ ]:
# Q6: The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is True. Have another look at its recipe.

while condition :
    expression
have a look at this code sample: 

x = 1
while x < 4 :
    print(x)
    x = x + 1

In [ ]:
# 1. Can you tell how many printouts the above while loop will do?

In [ ]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [ ]:
# 2. Use while loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'. Note: recall how the keyword break or continue works.

In [ ]:
num_letters = len(DNA)
i = 0
while i < num_letters:
  if (DNA[i] != 'C'):
    print(DNA[i])
    i = i + 1
  else:
    break

G
T
T
G
A
T
G
T
A
G

In [ ]:
# Q7: have a look at this code sample: 

course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
for id in course_ids: 
    print(id)
# As usual, you simply have to indent the code with 4 spaces to tell Python which code should be executed in the for loop.

# The course_ids variable, containing the ids of different courses in the Computer Science Department, is already defined.

CSCI1020
CSCI1030
CSCI1070

In [ ]:
# 1. Write a for loop that goes through each element of course_ids. On each iteration, "the course id is x" should be printed out, where x is the id value in this iteration.
for id in course_ids:
  print("the course id is", id)

the course id is CSCI1020
the course id is CSCI1030
the course id is CSCI1070

In [ ]:
# 2. Use for loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'.  Note: recall how the keyword break or continue works.
# Note well that we do an index-based loop with for ind in range(0,length). As a sanity check, if the dna has length 5, given for ind in range(0,5), we will test five elements: dna[0], dna[1],  dna[2],  dna[3],  and dna[4].
for motif in DNA:
  if (motif != 'C'):
    print (motif)
  else:
    break

G
T
T
G
A
T
G
T
A
G

In [10]:
# Q8: In Python, you need the items() (Links to an external site.) method to loop over a dictionary:

CS_courses= { "CSCI1020":"Intro to bioinformatics", 
          "CSCI1030":'Intro to Game Design',
          "CSCI1070":'Intro to Big Data' }

for key, value in CS_courses.items() :
    print(key + " -- " + str(value))
# Remember the CS_courses dictionary that contained the names of some course ids as key and their course names as corresponding value? Go ahead and write a loop to iterate over it

CSCI1020 -- Intro to bioinformatics
CSCI1030 -- Intro to Game Design
CSCI1070 -- Intro to Big Data

In [11]:
# 1. Write a for loop that goes through each key:value pair of CS_courses. On each iteration, "the course name of x is y" should be printed out, where x is the key and y is the value of the pair.
for key, value in CS_courses.items():
    print("the course name of %s is %s" % (key, value))

the course name of CSCI1020 is Intro to bioinformatics
the course name of CSCI1030 is Intro to Game Design
the course name of CSCI1070 is Intro to Big Data

In [ ]:
# Q9: A list can contain any Python type. But a list itself is also a Python type. That means that a list can also contain a list!  The list has the syntax:

my_list = [el1, el2, el3]

In [ ]:
# 1. Can you tell which ones of the following lines of Python code are valid ways to build a list? Use type() function to valid them.
A. [1, 3, 4, 2]   B. [[1, 2, 3], [4, 5, 7]]    C. [1 + 2, "a" * 5, 3]

In [ ]:
type([1, 3, 4, 2])

list

In [ ]:
type([[1, 2, 3], [4, 5, 7]])

list

In [ ]:
type([1 + 2, "a" * 5, 3])

list

In [ ]:
# Q10: According to the DNA sequence defined in Q1, write your Python codes to answer the following questions:

In [ ]:
# 1. How often is a letter followed immediately by the same letter in the DNA sequence?

# Note well that we do an index-based loop but with range(len(dna)-1). As a sanity check, if the dna has length 5, we only need to test four pairs of neighbors, and thus compare dna[0] to dna[1], dna[1] to dna[2], dna[2] to dna[3], and dna[3] to dna[4].

In [ ]:
num_letters = len(DNA)
i = 0
count = 0
while i < num_letters-1:
  if (DNA[i] == DNA[i+1]):
    count = count + 1
  i = i + 1
print(count)

51

In [ ]:
# 2. If two consecutive nucleotides match each other, how often is the next nucleotide that same nucleotide?
num_letters = len(DNA)
i = 0
count = 0
while i < num_letters-2:
  if (DNA[i] == DNA[i+1] and DNA[i+1] == DNA[i+2]):
    count = count + 1
  i = i + 1
print(count)

16

In [ ]:
# 3. How many times does a motif of the form CC?AT occur within the sequence? (where ? could be anything)
count = 0
count += DNA.count('CCAAT')
count += DNA.count('CCCAT')
count += DNA.count('CCGAT')
count += DNA.count('CCTAT')

print(count)

1

In [ ]:
# 4. When the motif CC?AT does occur, what percentage of the time is the middle nucleotide an A? (A so-called cat box CCAAT)

In [ ]:
count = 0
count += DNA.count('CCAAT')
count += DNA.count('CCCAT')
count += DNA.count('CCGAT')
count += DNA.count('CCTAT')

middle_count = DNA.count('CCAAT')

print(middle_count/count)

0.0