In [2]:
# Q1 Assume that we have one DNA sequence that has a string as 
# 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT' 
# which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA', and assign the sequence to this variable. Then we need to print the variable by print("DNA: ", DNA)
# Please write your python codes for this activity.

DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
print('DNA: ', DNA)

DNA:  GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT

In [ ]:
# I. How long is this sequence?
print('DNA length: ',len(DNA))

DNA length:  213

In [ ]:
# II. What is the first letter of the sequence?
print('First letter: ', DNA[0])

First letter:  G

In [ ]:
# III. What is the last letter of the sequence?
print('Last letter: ', DNA[-1])

Last letter:  T

In [ ]:
# IV. What are the first 10 characters of the sequence?
print('First ten characters: ', DNA[:10])

First ten characters:  GTTGATGTAG

In [ ]:
# V. What are the last 10 characters of the sequence?
print('Last ten characters: ', DNA[-10:])

Last ten characters:  CGTCTTGCTT

In [ ]:
# VI. How many times does the character 'C' appear in the sequence?
print('Number of C characters: ', DNA.count('C'))

Number of C characters:  49

In [ ]:
# VII. What is the index at which the first occurrence of the pattern CCAAT begins?

if 'CCAAT' in DNA:
  print(DNA.index('CCAAT'))
else: 
  print('Pattern not in DNA sequence')

Pattern not in DNA sequence

In [ ]:
# Q2: I. Based on the sequence defined in Q1, write codes to see if the first 10 characters of the sequence and the last 10 characters of the sequence are equal.
#    II. Write Python code to check if the number of the character 'C' is equal to the number of the character 'A' in the DNA sequence.

print(DNA[:10]==DNA[-10:])

False

In [ ]:
print(DNA.count('C')==DNA.count('A'))

False

In [ ]:
# Q3. I. Write Python code to check if the number of the character 'C'  is greater than or equal to the number of the character 'A' in the DNA sequence.
#    II. Write Python code to check if the index at which the first occurrence of the letter 'C' is greater than the index at which the first occurrence of the letter 'A'.

print(DNA.count('C') >= DNA.count('A'))

False

In [ ]:
print(DNA.index('C') > DNA.index('A'))

True

In [ ]:
# Q4: I. Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  and smaller than the number of the character 'G' in the DNA sequence.
#    II. Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  or smaller than the number of the character 'G' in the DNA sequence.
#   III. Suppose  we have variables x = 8  and y = 9, what will the result be if you execute the command not(not(x < 3) and not(y > 14 or y > 10))  in the notebook?   Note: not has higher precedence than and  and or.

print(DNA.count('C') > DNA.count('A') and DNA.count('C') < DNA.count('G'))

False

In [ ]:
print(DNA.count('C') > DNA.count('A') or DNA.count('C') < DNA.count('G'))

False

In [ ]:
x = 8
y = 9

not(not(x < 3) and not (y >14 or y > 10))

False

In [ ]:
# Q5: I. What will the output be if you run this piece of code in the notebook?
#    II. Use if, elif and else, check the length of DNA sequence in Q1 with the following conditions: if the length is shorter than 100, print 'the DNA sequence is short.', otherwise if the length is shorter than 500, print "the DNA sequence is medium", otherwise, print "the length is long".

area = 10.0
if (area < 9) :
    print("small")
elif (area < 12) :
    print("medium")
else:
    print("large")

medium

In [ ]:
if (len(DNA) < 100): 
  print('The DNA sequence is short.')
elif (len(DNA) < 500):
  print('The DNA sequence is medium.')
else:
  print('The length is long.')

The DNA sequence is medium.

In [ ]:
# Q6. I. Can you tell how many printouts the above while loop will do?
#    II. Use while loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'. Note: recall how the keyword break or continue works.

# Answer: 3 printouts because number 4 is not shorter than the value 4.

1
2
3

In [ ]:
strIndex=0;
myString='';
while (myString != 'C'): 
  myString = DNA[strIndex]
  print(myString)
  strIndex = strIndex + 1

G
T
T
G
A
T
G
T
A
G
C

In [ ]:
# Q7: I. Write a for loop that goes through each element of course_ids. On each iteration, "the course id is x" should be printed out, where x is the id value in this iteration.
#    II. Use for loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'.  Note: recall how the keyword break or continue works.
#          Note well that we do an index-based loop with for ind in range(0,length). As a sanity check, if the dna has length 5, given for ind in range(0,5), we will test five elements: dna[0], dna[1],  dna[2],  dna[3],  and dna[4].
 
course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
for id in course_ids: 
    print('The Course id is ',id)

The Course id is  CSCI1020
The Course id is  CSCI1030
The Course id is  CSCI1070

In [ ]:
for ind in range(0, len(DNA)):
    print(DNA[ind])
    if DNA[ind] == 'C':
      break

G
T
T
G
A
T
G
T
A
G
C

In [ ]:
# Q8: I. Write a for loop that goes through each key:value pair of CS_courses. On each iteration, "the course name of x is y" should be printed out, where x is the key and y is the value of the pair.

CS_courses= { "CSCI1020":"Intro to bioinformatics", 
          "CSCI1030":'Intro to Game Design',
          "CSCI1070":'Intro  to Big Data' }
for key,value in CS_courses.items():
  print('The course name of ', key, 'is ', value)

The course name of  CSCI1020 is  Intro to bioinformatics
The course name of  CSCI1030 is  Intro to Game Design
The course name of  CSCI1070 is  Intro  to Big Data

In [ ]:
# Q9: I. Can you tell which ones of the following lines of Python code are valid ways to build a list? Use type() function to valid them.

type([1, 3, 4, 2])

list

In [ ]:
type([[1, 2, 3], [4, 5, 7]])

list

In [ ]:
type([1 + 2, "a" * 5, 3])

list

In [26]:
# Q10: 1. How often is a letter followed immediately by the same letter in the DNA sequence?

previousValue='';
incrementor = 0;
for i in range(len(DNA)):
  currentValue = DNA[i];
  if (currentValue == previousValue):
    incrementor = incrementor+1;
  previousValue = currentValue;
print(incrementor);

51

In [24]:
# 2.  If two consecutive nucleotides match each other, how often is the next nucleotide that same nucleotide?
seg_1 = DNA.count('CCC') 
seg_2 = DNA.count('AAA')
seg_3 = DNA.count('GGG')
seg_4 = DNA.count('TTT')

total = seg_1+seg_2+seg_3+seg_4
total_percent = (total/incrementor)*100
rounded_percent = '{0:.4g}'.format(total_percent)

print(rounded_percent, '%')

21.57 %

In [3]:
# 3.  How many times does a motif of the form CC?AT occur within the sequence? (where ? could be anything)
total = 0
for k in range(len(DNA)-4):   
    if DNA[k:k+2] == 'CC' and DNA[k+3:k+5] == 'AT':
        total += 1

print("Pattern CC?AT occurs {} times".format(total))
print()

Pattern CC?AT occurs 1 times

In [3]:
# 4. When the motif CC?AT does occur, what percentage of the time is the middle nucleotide an A? (A so-called cat box CCAAT)

seg1 = DNA.count('CCCAT')
seg2 = DNA.count('CCAAT')
seg3 = DNA.count('CCGAT')
seg4 = DNA.count('CCTAT')
total = seg1 + seg2 +seg3 +seg4 
if seg2 >= 0:
  percent = ((seg2)/(total))*100
  print(percent, '%')

0.0 %