In [ ]:
#Question 1: String

In [ ]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'

In [ ]:
print("DNA:", DNA)

DNA: GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT

In [ ]:
#How long is this sequence?

In [ ]:
len(DNA)

213

In [ ]:
# What is the first letter of the sequence?

In [ ]:
DNA[0]

'G'

In [ ]:
#What is the last letter of the sequence?

In [ ]:
DNA[212]

'T'

In [ ]:
#What are the first 10 characters of the sequence?

In [ ]:
DNA[:10]

'GTTGATGTAG'

In [ ]:
#What are the last 10 characters of the sequence?

In [ ]:
DNA[-10:]

'CGTCTTGCTT'

In [ ]:
# How many times does the character 'C' appear in the sequence?
DNA.count('C')

49

In [ ]:
#What is the index at which the first occurrence of the pattern CCAAT begins?

In [ ]:
DNA.find('CCAAT')
# The index is -1 which means this set of characters doesnt exist

-1

In [ ]:
#Question 2. Equality

In [ ]:
#Based on the sequence defined in Q1, 
# write codes to see if the first 10 characters of the sequence
# and the last 10 characters of the sequence are equal.

In [ ]:
DNA[:10] == DNA[-10:]

False

In [ ]:
#Write Python code to check if the number of the character 
#'C' is equal to the number of the character 'A' in the DNA sequence.

In [ ]:
DNA.count('C') == DNA.count('A')

False

In [ ]:
#Question 3. Greater and less than

In [ ]:
#Write Python code to check if the number of the character 'C'  is 
#greater than or equal to the number of the character 'A' in the DNA sequence.

In [ ]:
DNA.count('C') >= DNA.count('A')

False

In [ ]:
#Write Python code to check if the index at which the first occurrence of the letter 'C' is greater than the index at which the first occurrence of the letter 'A'.

In [ ]:
DNA.index('C') > DNA.index('A')

True

In [ ]:
#Question 4. Boolean Operators: and, or, not

In [ ]:
#Write Python code to check if the number of the character 'C'  
#is greater than the number of the character 'A'  and smaller than 
#the number of the character 'G' in the DNA sequence.

In [ ]:
DNA.count('C') > DNA.count('A') and DNA.count('G')

False

In [ ]:
#Write Python code to check if the number of the character 'C'
#is greater than the number of the character 'A'  or smaller 
#than the number of the character 'G' in the DNA sequence.

In [ ]:
DNA.count('C') > DNA.count('A') or DNA.count('C') < DNA.count('G')

False

In [ ]:
#Suppose  we have variables x = 8  and y = 9, what will the result be if 
#you execute the command not(not(x < 3) and not(y > 14 or y > 10))  in the 
#notebook?   Note: not has higher precedence than and  and or.

In [ ]:
#not(not(false) and not(false and false))
#not(true and true)
#false
#the code would end up being false

In [ ]:
x=8
x=9
not(not(x < 3) and not(y > 14 or y > 10))

False

In [ ]:
# Question 5. Control Flow

In [ ]:
#What will the output be if you run this piece of code in the notebook?
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [ ]:
#Use if, elif and else, check the length of DNA sequence in Q1 with the following conditions:
# if the length is shorter than 100, print 'the DNA sequence is short.', otherwise if the length 
#is shorter than 500, print "the DNA sequence is medium", otherwise, print "the length is long".

In [ ]:
if len(DNA) < 100:
  print('The DNA sequence is short.')
elif len(DNA) < 500:
  print('The DNA sequence is medium')
else:
  print('The length is long')

The DNA sequence is medium

In [ ]:
# Question 6. while/for loop

In [ ]:
#x = 1
#while x < 4 :
    #print(x)
    #x = x + 1
#Can you tell how many printouts the above while loop will do?
# The code will loop 3 times

In [ ]:
#Use while loop, keep printing the letters from left to right in the 
#DNA sequence until you reach the letter 'C'. Note: recall how the 
#keyword break or continue works.

In [ ]:
num = 0
while num < 1:
  for element in DNA:
    print(element)
    if element == 'C':
     print('This is the first occurence of "C')
     num = num +2
     break

G
T
T
G
A
T
G
T
A
G
C
This is the first occurence of "C

In [ ]:
# Question 7. Loop over a list/String

In [ ]:
course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
for id in course_ids: 
    print(id)

CSCI1020
CSCI1030
CSCI1070

In [ ]:
# Write a for loop that goes through each element of course_ids. 
#On each iteration, "the course id is x" should be printed out, 
#where x is the id value in this iteration.

In [ ]:
course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
for id in course_ids: 
    print('the course id is', id)

the course id is CSCI1020
the course id is CSCI1030
the course id is CSCI1070

In [ ]:
#Use for loop, keep printing the letters from left to right in the DNA sequence 
#until you reach the letter 'C'. 
#Note: recall how the keyword break or continue works.

In [ ]:
DNA2 = []
for element in DNA:
  if element != 'C':
    DNA2.append(element)
  else:
    DNA2.append(element + ': This is the first occurence of C')
    print(DNA2)
    break

['G', 'T', 'T', 'G', 'A', 'T', 'G', 'T', 'A', 'G', 'C: This is the first occurence of C']

In [ ]:
#Question 8. Loop over dictionary

In [ ]:
CS_courses= { "CSCI1020":"Intro to bioinformatics", 
          "CSCI1030":'Intro to Game Design',
          "CSCI1070":'Intro to Big Data' }

for key, value in CS_courses.items() :
    print(key + " -- " + str(value))

CSCI1020 -- Intro to bioinformatics
CSCI1030 -- Intro to Game Design
CSCI1070 -- Intro to Big Data

In [ ]:
#Write a for loop that goes through each key:value pair of CS_courses. On each iteration, 
#"the course name of x is y" should be printed out, where x is the key and y is the value of the pair.

In [ ]:
for key, value in CS_courses.items():
  x = key
  y = value
  print('The course name of', x, 'is', y)

The course name of CSCI1020 is Intro to bioinformatics
The course name of CSCI1030 is Intro to Game Design
The course name of CSCI1070 is Intro to Big Data

In [ ]:
# Question 9.  Select the valid list

In [ ]:
#Can you tell which ones of the following lines of Python code are valid ways to build a list?

In [ ]:
#A. [1, 3, 4, 2]   B. [[1, 2, 3], [4, 5, 7]]    C. [1 + 2, "a" * 5, 3]

In [ ]:
#All are list types

In [ ]:
type([1,3,4,2])

list

In [ ]:
type([[1,2,3],[4,5,7]])

list

In [ ]:
type([1+2,"a"* 5,3])

list

In [ ]:
#Question 10. Integration
# 1. How often is a letter followed immediately by the same letter in the DNA sequence?

In [ ]:
x = 0
y = 1
similar_letters = 0
while y != (len(DNA) - 1):
 if DNA[x] == DNA[y]:
  similar_letters = similar_letters +1
  x = x + 1
  y = y + 1
 if DNA[x] != DNA[y]:
  x = x + 1
  y = y + 1

In [ ]:
print('there are a total of', similar_letters, 'times where the same two nucleotides appear in a row')

there are a total of 50 times where the same two nucleotides appear in a row

In [ ]:
#2. If two consecutive nucleotides match each other, how often is the next nucleotide that same nucleotide?

In [ ]:
a = 0
b = 1
c = 2
similar_letters3 = 0
while c != (len(DNA) - 1):
  if DNA[a] == DNA[b] and DNA[a] == DNA[c]:
   similar_letters3 = similar_letters3 +1
   a = a + 1
   b = b + 1
   c = c + 1
  else:
   a = a + 1
   b = b + 1
   c = c + 1

In [ ]:
print('there are a total of', similar_letters3, 'times that the same three nucleotides appear in a row ')

there are a total of 16 times that the same three nucleotides appear in a row

In [ ]:
#3. How many times does a motif of the form CC?AT occur within the sequence? (where ? could be anything)

In [ ]:
nucleotide = ['A','T','G','C']
times_motif_appears = 0
for element in nucleotide:
  if DNA.find('CC' + element + 'AT') < 0:
    times_motif_appears = times_motif_appears
  else:
    times_motif_appears = times_motif_appears + 1
  
print('The motif "CC?AT", where ? can be anything, appears', times_motif_appears, 'time(s)')

The motif "CC?AT", where ? can be anything, appears 1 time(s)

In [ ]:
# 4. When the motif CC?AT does occur, what percentage of the time is the middle nucleotide an A? (A so-called cat box CCAAT)

In [ ]:
nucleotide = ['A','T','G','C']
times_motif_appears = 0
times_a_appears = 0
for element in nucleotide:
  if DNA.find('CC' + element + 'AT') < 0:
    times_motif_appears = times_motif_appears
  if DNA.find('CC' + element + 'AT') == 'CCAAT':
      times_a_appears = times_a_appears + 1
  else:
    times_motif_appears = times_motif_appears + 1

In [ ]:
print('Since "CCAAT" appears', times_a_appears, 'times in the string of DNA, the percentage is', times_a_appears / times_motif_appears, '%'  )

Since "CCAAT" appears 0 times in the string of DNA, the percentage is 0.0 %