In [ ]:
# Q1: Assume that we have one DNA sequence that has a string as 

# 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT' 
# which is comprised of four nucleotides (e.g. A, T, C, G). We would like to define a variable called 'DNA', and assign the sequence to this variable. Then we need to print the variable by print("DNA: ", DNA) 
# Please write your python codes for this activity.

# How long is this sequence?
# What is the first letter of the sequence?
# What is the last letter of the sequence?
# What are the first 10 characters of the sequence?
# What are the last 10 characters of the sequence?
# How many times does the character 'C' appear in the sequence?
# What is the index at which the first occurrence of the pattern CCAAT begins?

In [1]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT' 
print("DNA: ", DNA)

DNA:  GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT

In [2]:
DNA_length = len(DNA)
print("Length of DNA_length: ", DNA_length)

Length of DNA_length:  213

In [3]:
print("First letter of DNA: ", DNA[0])

First letter of DNA:  G

In [6]:
print("Last letter of DNA: ", DNA[212])

Last letter of DNA:  T

In [15]:
print("First ten letters of DNA: ", DNA[:10])

First ten letters of DNA:  GTTGATGTAG

In [14]:
print("Last ten letters of DNA: ", DNA[203:])

Last ten letters of DNA:  CGTCTTGCTT

In [10]:
print("Number of Cs in DNA: ", DNA.count('C'))

Number of Cs in DNA:  49

In [12]:
print("Index of CCAAT in DNA using index(): ", DNA.index('CCAAT'))

ValueError: ignored

In [ ]:
# Q2: To check if two Python values, or variables, are equal you can use ==. To check for inequality, you need !=.  As a refresher, have a look at the following examples that all result in True. Feel free to try them out in the Notebook.

# 2 == (1 + 1)
# "intermediate" != "python"
# True != False
# "Python" != "python"
# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

# Based on the sequence defined in Q1, write codes to see if the first 10 characters of the sequence and the last 10 characters of the sequence are equal.
# Write Python code to check if the number of the character 'C' is equal to the number of the character 'A' in the DNA sequence.

In [16]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
'GTTGATGTAg' == 'CGTCTTGCTT'

False

In [17]:
DNA.count('C') == DNA.count('A')

False

In [ ]:
# Q3: In the python,  the comparison operators also include the less than and greater than signs, < and > in Python. You can combine them with an equals sign: <= and =>. Pay attention: <= is valid syntax, but =< is not. All Python expressions in the following code chunk evaluate to True:

# 3 < 4
# 3 <= 4
# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

# Write Python code to check if the number of the character 'C'  is greater than or equal to the number of the character 'A' in the DNA sequence.
# Write Python code to check if the index at which the first occurrence of the letter 'C' is greater than the index at which the first occurrence of the letter 'A'.

In [18]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA.count('C') >= DNA.count('A')

False

In [19]:
DNA.index('C') > DNA.index('A')

True

In [ ]:
# Q4: A boolean is True or False. With boolean operators such as and, or and not, you can combine these booleans to perform more advanced queries on your data.

# In the notebook, you need to wrap a print() (Links to an external site.) function around them to see the output.

# Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  and smaller than the number of the character 'G' in the DNA sequence.
# Write Python code to check if the number of the character 'C'  is greater than the number of the character 'A'  or smaller than the number of the character 'G' in the DNA sequence.
# Suppose  we have variables x = 8  and y = 9, what will the result be if you execute the command not(not(x < 3) and not(y > 14 or y > 10))  in the notebook?   Note: not has higher precedence than and  and or.

In [23]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA.count('C') > DNA.count('A') and DNA.count('C') < DNA.count('G')

False

In [24]:
DNA.count('C') > DNA.count('A') or DNA.count('C') < DNA.count('G')

False

In [25]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

In [ ]:
# Q5: To experiment with if and else a bit, have a look at this code sample:

# area = 10.0
# if(area < 9) :
    # print("small")
# elif(area < 12) :
    # print("medium")
# else :
    # print("large")
# What will the output be if you run this piece of code in the notebook?
# Use if, elif and else, check the length of DNA sequence in Q1 with the following conditions: if the length is shorter than 100, print 'the DNA sequence is short.', otherwise if the length is shorter than 500, print "the DNA sequence is medium", otherwise, print "the length is long".

In [26]:
area = 10.0
if(area < 9) :
  print("small")
elif(area > 12) :
    print("medium")
else :
  print("large")

large

In [1]:
length = 213.0
if(length < 100) :
  print("the DNA sequence is too short")
elif(length < 500) :
    print("the DNA sequence is medium")
else :
  print("the length is long")

the DNA sequence is medium

In [ ]:
# Q6: The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is True. Have another look at its recipe.

# while condition :
    # expression
# have a look at this code sample: 

# x = 1
# while x < 4 :
    # print(x)
    # x = x + 1
# Can you tell how many printouts the above while loop will do?
# Use while loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'. Note: recall how the keyword break or continue works.

In [3]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [29]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA = 0
while DNA < 10 :
  print(DNA)
  DNA = DNA + 1
  if DNA >= 10:
    break

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Q7: have a look at this code sample: 

# course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
# for id in course_ids: 
    # print(id)
# As usual, you simply have to indent the code with 4 spaces to tell Python which code should be executed in the for loop.

# The course_ids variable, containing the ids of different courses in the Computer Science Department, is already defined.

# Write a for loop that goes through each element of course_ids. On each iteration, "the course id is x" should be printed out, where x is the id value in this iteration.
# Use for loop, keep printing the letters from left to right in the DNA sequence until you reach the letter 'C'.  Note: recall how the keyword break or continue works.
# Note well that we do an index-based loop with for ind in range(0,length). As a sanity check, if the dna has length 5, given for ind in range(0,5), we will test five elements: dna[0], dna[1],  dna[2],  dna[3],  and dna[4].

In [8]:
course_ids= ['CSCI1020', 'CSCI1030', 'CSCI1070']
for id in course_ids: 
    print(id)

CSCI1020
CSCI1030
CSCI1070

In [3]:
DNA_sequence = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA = 0
for DNA in DNA_sequence:
  DNA = DNA + 1
print(DNA)

TypeError: ignored

In [ ]:
# Q8: In Python, you need the items() (Links to an external site.) method to loop over a dictionary:

# CS_courses= { "CSCI1020":"Intro to bioinformatics", 
          # "CSCI1030":'Intro to Game Design',
          # "CSCI1070":'Intro  to Big Data' }

# for key, value in world.items() :
    # print(key + " -- " + str(value))
# Remember the CS_courses dictionary that contained the names of some course ids as key and their course names as corresponding value? Go ahead and write a loop to iterate over it

# Write a for loop that goes through each key:value pair of CS_courses. On each iteration, "the course name of x is y" should be printed out, where x is the key and y is the value of the pair.

In [22]:
CS_courses= { "CSCI1020":"Intro to bioinformatics", 
          "CSCI1030":'Intro to Game Design',
          "CSCI1070":'Intro  to Big Data' }

for key, value in world.items(courses) :
    print(key + " the course of x is y " + str(value))

NameError: ignored

In [ ]:
# Q9: A list can contain any Python type. But a list itself is also a Python type. That means that a list can also contain a list!  The list has the syntax:

#my_list = [el1, el2, el3]
# Can you tell which ones of the following lines of Python code are valid ways to build a list? Use type() function to valid them.
# A. [1, 3, 4, 2]   B. [[1, 2, 3], [4, 5, 7]]    C. [1 + 2, "a" * 5, 3]

In [16]:
list = [1, 3, 4, 2]
type([1,3,4,2])

list

In [17]:
list = [[1,2,3], [4,5,7]]
type([[1,2,3], [4,5,7]])

list

In [19]:
list= [1 + 2, "a" * 5, 3]
type([1 + 2, "a" * 5, 3])

list

In [ ]:
# Q10: According to the DNA sequence defined in Q1, write your Python codes to answer the following questions:

 

# 1. How often is a letter followed immediately by the same letter in the DNA sequence?

# Note well that we do an index-based loop but with range(len(dna)-1). As a sanity check, if the dna has length 5, we only need to test four pairs of neighbors, and thus compare dna[0] to dna[1], dna[1] to dna[2], dna[2] to dna[3], and dna[3] to dna[4].

 

# 2. If two consecutive nucleotides match each other, how often is the next nucleotide that same nucleotide?

 

# 3. How many times does a motif of the form CC?AT occur within the sequence? (where ? could be anything)

 

# 4. When the motif CC?AT does occur, what percentage of the time is the middle nucleotide an A? (A so-called cat box CCAAT)

In [10]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA.index('C')
range(len(DNA)-1)

range(0, 212)

In [23]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
DNA.index('AT') and DNA.index('TT')
range(len(DNA)-1)

range(0, 212)

In [13]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
'CCAAT'
'CCTAT'
'CCGAT'
'CCCAT'
found_motif = 0
for pos in range(0,len(DNA)-4):
  if DNA[pos]=='C' and DNA[pos+1]== 'C' and DNA[pos+3]=='A' and DNA[pos+4]== 'T':
    found_motif +=1
print("Total motif CC?AT is: ",found_motif)

Total motif CC?AT is:  1

In [14]:
DNA = 'GTTGATGTAGCTTATATAAAGCAAGGCACTGAAAATGCCTAGATGAGTCATAGACTCCATAAACAACAGGTTTGGTCCCGGCCTTTTTATTAGCTGTCTGCAGGATTATACATGCAAAAATCCCTACACCGGTGAGAATGCCCTATGTACCACACTCAGGTTTAAAGGAGCAGACATCAAGCACACTGCTAAGTAGCTCACGACGTCTTGCTT'
'CCAAT'
'CCTAT'
'CCGAT'
'CCCAT'
found_motif = 0
found_motif_CCAAT = 0
for pos in range(0,len(DNA)-4):
  if DNA[pos]=='C' and DNA[pos+1]== 'C' and DNA[pos+3]=='A' and DNA[pos+4]== 'T':
    found_motif +=1
    if DNA[pos+2]== 'A':
      found_motif_CCAAT == found_motif_CCAAT + 1
print("Total motif CC?AT is: ",found_motif)

Total motif CC?AT is:  1