In [ ]:
# Q1: Given the following table/matrix, write a python code to store the table into python variable. (hint: saving rows in a list, each row can also be a list. In other words, each element in a list is also a list type).

In [1]:
row_0: [1,1,1]
row_1: [2,2,2]
row_2: [3,3,3]

In [2]:
table = [[1,1,1], [2,2,2], [3,3,3]]
print(table)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [3]:
for row in table:
  for ele in row:
    print(ele, end=' ')
  print('')

1 1 1
2 2 2
3 3 3

In [ ]:
# Q2:  Write for loop to print out the variable created in question 1. An example output is attached below:

In [4]:
for row in table:
  print(row)

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
# Q3: Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An example output is attached below:

In [12]:
table[0] = [-1, -1, -1]
for row in table:
  print(row)

[-1, -1, -1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
# Q4: Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An example output is attached below:

In [14]:
table[0][0] = -1
table[1][0] = -1
table[2][0] = -1
for row in table:
  print(row)

[-1, -1, -1]
[-1, 2, 2]
[-1, 3, 3]

In [ ]:
# Q5: Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0. An example output is attached below:

In [15]:
alignment_table = [[0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0]]
for row in alignment_table:
  print(row)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

In [ ]:
# Q6: Given what you have done in question 5, now suppose we have two sequences (X and Y). The length of X is M, and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all values equal to 0. An example code is attached below:

In [ ]:
def alignment_table(sequence1, sequence2):
    ## print sequence 1
    print(sequence1)
    ## print sequence 2
    print(sequence2)
    ## print the initial alignment table with all values equal to 0
    rows = []
    for i in range(len(sequence1)+1):
      columns = []
      for j in range(len(sequence2)+1):
        columns.append(0)
      rows.append(columns)

    for row in rows:
      print(row)

    return rows

In [ ]:
alignment_table = alignment_table('AATTATATT', 'ACGTTAT')

AATTATATT
ACGTTAT
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Q7: Given what you have done in question 6, we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,

In [ ]:
# 1. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

In [ ]:
for i in range(len(alignment_table[0])-1):
  alignment_table[0][i+1] = alignment_table[0][i] - 1

In [16]:
print(alignment_table)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
# 2. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

In [17]:
for i in range(len(alignment_table)-1):
  alignment_table[i+1][0] = alignment_table[i][0] - 1

In [18]:
print(alignment_table)

[[0, 0, 0, 0, 0], [-1, 0, 0, 0, 0], [-2, 0, 0, 0, 0], [-3, 0, 0, 0, 0], [-4, 0, 0, 0, 0], [-5, 0, 0, 0, 0], [-6, 0, 0, 0, 0], [-7, 0, 0, 0, 0], [-8, 0, 0, 0, 0], [-9, 0, 0, 0, 0]]

In [ ]:
for row in alignment_table:
  print(row)

[0, -1, -2, -3, -4, -5, -6, -7]
[-1, 0, 0, 0, 0, 0, 0, 0]
[-2, 0, 0, 0, 0, 0, 0, 0]
[-3, 0, 0, 0, 0, 0, 0, 0]
[-4, 0, 0, 0, 0, 0, 0, 0]
[-5, 0, 0, 0, 0, 0, 0, 0]
[-6, 0, 0, 0, 0, 0, 0, 0]
[-7, 0, 0, 0, 0, 0, 0, 0]
[-8, 0, 0, 0, 0, 0, 0, 0]
[-9, 0, 0, 0, 0, 0, 0, 0]