In [246]:
#Q1 (5 points) Given the following table/matrix, write a python code to store the table into python variable. (hint: saving rows in a list, each row can also be a list. In other words, each element in a list is also a list type).                                                                                                                                                                                                                                                     

#1	1	1
#2	2	2
#3	3	3


Matrix= [[1,1,1],[2,2,2],[3,3,3]]

In [247]:
# Q2. (5 points)  Write for loop to print out the variable created in question 1. An example output is attached below:
j = 0
for i in Matrix:
  print('Row',j,':',i )
  j += 1

# Another way:  
for i in Matrix:
 for it in i:
   print (it, end=' ')
 print('')
 
 # Another way
for i in Matrix:
  print (" ".join("{0}".format(n) for n in i) )

Row 0 : [1, 1, 1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]
1 1 1
2 2 2
3 3 3
1 1 1
2 2 2
3 3 3

In [248]:
# Q3. (5 points)  Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An example output is attached below:
j=0
print ( 'Updated table')

for i in range(0,2):
  if i == 0:
    t=-1
    Matrix[i] = [t,t,t]
    y = Matrix

for i in y:  
  print('Row',j,':',i )
  j += 1    
  
# Note: This might not have been a good apppraoch Matrix[i] = [t,t,t]

Updated table
Row 0 : [-1, -1, -1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]

In [249]:
# Q3 One way:

j=0
print ( 'Updated table')
Matrix[0] = [-1,-1,-1]
for i in Matrix:
  print('Row',j,':',i )
  j += 1

Updated table
Row 0 : [-1, -1, -1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]

In [251]:
# Q3 Scrap:

j=0
print ( 'Updated table')
for i in Matrix:
  Matrix[0] = [-1,-1,-1]
  print('Row',j,':',i )
  j += 1    

#Note: Have to run this code 2 times to make it work!?

Updated table
Row 0 : [-1, -1, -1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]

In [252]:
# Q4. (5 points)  Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An example output is attached below:

z=0
print ( 'Updated table')
for j in Matrix:
  for i in range(0,2):
    if i == 0:
      t=-1
      Matrix[i] = [t,t,t]
      j[i] = -1
      y = Matrix

for i in y:  
  print('Row',z,':',i )
  z += 1

Updated table
Row 0 : [-1, -1, -1]
Row 1 : [-1, 2, 2]
Row 2 : [-1, 3, 3]

In [253]:
# Q5. (5 points)  Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0. An example output is attached below:

z=0
j=[]
for a in range(0,5):
  b =0
  j.append(b)
for i in range(0,10):
  print('Row',z,':',j )
  z += 1   

# No example output was attached on the file

Row 0 : [0, 0, 0, 0, 0]
Row 1 : [0, 0, 0, 0, 0]
Row 2 : [0, 0, 0, 0, 0]
Row 3 : [0, 0, 0, 0, 0]
Row 4 : [0, 0, 0, 0, 0]
Row 5 : [0, 0, 0, 0, 0]
Row 6 : [0, 0, 0, 0, 0]
Row 7 : [0, 0, 0, 0, 0]
Row 8 : [0, 0, 0, 0, 0]
Row 9 : [0, 0, 0, 0, 0]

In [254]:
# Q6.  (5 points)  Given what you have done in question 5, now suppose we have two sequences (X and Y). The length of X is M, and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all values equal to 0. An example code is attached below:

############################################################################ 
# Implementation of initial alignment table for Pairwise Alignment algorithm 
############################################################################ 

# Using the example sequence 

X = 'AATTATATT'
Y = 'ACGTTAT'
print(len(X), len(Y))



def alignment_table(sequence1, sequence2):
  z=0
  j=[]
    ## print sequence 1
  print('Sequence1:',sequence1,'with length of',len(sequence1))
    ## print sequence 2
  print('Sequence2:',sequence2,'with length of',len(sequence2))
    ## print the initial alignment table with all values equal to 0
  print('The initial table with dimension',len(sequence1)+1,'and', len(sequence2)+1,'for the sequence alignment is:')
  for a in range(0,len(sequence2)+1):
    b =0
    j.append(b)
  for i in range(0,len(sequence1)+1):
    print('Row',z,':',j )
    z += 1

9 7

In [255]:
alignment_table(X,Y)

Sequence1: AATTATATT with length of 9
Sequence2: ACGTTAT with length of 7
The initial table with dimension 10 and 8 for the sequence alignment is:
Row 0 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 1 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 2 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 3 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 4 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 5 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 6 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 7 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 8 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 9 : [0, 0, 0, 0, 0, 0, 0, 0]

In [256]:
# Experiment
alignment_table('AATATT', 'ACGAT')

Sequence1: AATATT with length of 6
Sequence2: ACGAT with length of 5
The initial table with dimension 7 and 6 for the sequence alignment is:
Row 0 : [0, 0, 0, 0, 0, 0]
Row 1 : [0, 0, 0, 0, 0, 0]
Row 2 : [0, 0, 0, 0, 0, 0]
Row 3 : [0, 0, 0, 0, 0, 0]
Row 4 : [0, 0, 0, 0, 0, 0]
Row 5 : [0, 0, 0, 0, 0, 0]
Row 6 : [0, 0, 0, 0, 0, 0]

In [262]:
# Q7.  (10 points)  Given what you have done in question 6,  we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,

# a. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

# b. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

# write a python function to create an updated alignment table by initializing the first row and the first column. An example code is attached below:

def alignment_table_updated(sequence1, sequence2):
  z=0
  q=[]  
  m= range(1,len(sequence1)+1)
  n= range(0,len(sequence2)+1)

  print('Sequence1:',sequence1,'with length of',len(sequence1)) 
  print('Sequence2:',sequence2,'with length of',len(sequence2)) 
  print('The initial table with dimension',len(sequence1)+1,'and', len(sequence2)+1,'for the sequence alignment is:')
  for i in range(0,len(sequence1)+1):
    q.append([])  
  for j in range(0,len(sequence1)+1):
    if j == 0:
      for a in n:
        q[j].append(-a)
  for t in m:
    q[t].append(-t)
  for r in m:
    while len(q[r]) < len(sequence2)+1:
      q[r].append(0)

  for i in range(0,len(sequence1)+1):
    print('Row',z,':',q[i] )
    z += 1

In [261]:
def alignment_table_updated(sequence1, sequence2):
  z=0
  q=[]  
  m= range(1,len(sequence1)+1)
  n= range(0,len(sequence2)+1)

  print('Sequence1:',sequence1,'with length of',len(sequence1)) 
  print('Sequence2:',sequence2,'with length of',len(sequence2)) 
  print('The initial table with dimension',len(sequence1)+1,'and', len(sequence2)+1,'for the sequence alignment is:')
  for i in range (0,len(sequence1)+1):
    q.append([])  
  for j in range(0,len(sequence1)+1):
    if j == 0:
      for a in n:
        q[j].append(-a)
  for t in m:
    q[t].append(-t)
  for r in m:
    while len(q[r]) < len(sequence2)+1:
      q[r].append(0)
  for i in q:
    print (" ".join("{0}".format(n) for n in i) )

In [263]:
alignment_table_updated(X,Y)

Sequence1: AATTATATT with length of 9
Sequence2: ACGTTAT with length of 7
The initial table with dimension 10 and 8 for the sequence alignment is:
Row 0 : [0, -1, -2, -3, -4, -5, -6, -7]
Row 1 : [-1, 0, 0, 0, 0, 0, 0, 0]
Row 2 : [-2, 0, 0, 0, 0, 0, 0, 0]
Row 3 : [-3, 0, 0, 0, 0, 0, 0, 0]
Row 4 : [-4, 0, 0, 0, 0, 0, 0, 0]
Row 5 : [-5, 0, 0, 0, 0, 0, 0, 0]
Row 6 : [-6, 0, 0, 0, 0, 0, 0, 0]
Row 7 : [-7, 0, 0, 0, 0, 0, 0, 0]
Row 8 : [-8, 0, 0, 0, 0, 0, 0, 0]
Row 9 : [-9, 0, 0, 0, 0, 0, 0, 0]

In [113]:
# Q7 Scrap: 
 t=-1
      Matrix[i] = [t,t,t]


q=[]
for i in range (0,len(X)+1):
  q.append([]) 

print(q)

[[], [], [], [], [], [], [], [], [], []]