In [ ]:
#1.(5 points) Given the following table/matrix, write a python code to store the table into python variable.
# (hint: saving rows in a list, each row can also be a list. In other words, each element in a list is also a list type).

In [ ]:
row1 = [1,1,1]
row2 = [2,2,2]
row3 = [3,3,3]
list_of_rows = [row1,row2,row3]

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
#2. (5 points)  Write for loop to print out the variable created in question 1. An example output is attached below:

In [ ]:
for element in list_of_rows:
  print(element)

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
#3. (5 points)  Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An example output is attached below:

In [ ]:
for element in row1:
 if number < len(row1):
   row1[number] = -1
   number = number + 1

for element in list_of_rows:
  print(element)

[-1, -1, -1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
#5. (5 points)  Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0.

In [1]:
row5 = [0,0,0,0,0]

number = 0
while number != 10:
 print('Row',number, ':', row5)
 number = number + 1

Row 0 : [0, 0, 0, 0, 0]
Row 1 : [0, 0, 0, 0, 0]
Row 2 : [0, 0, 0, 0, 0]
Row 3 : [0, 0, 0, 0, 0]
Row 4 : [0, 0, 0, 0, 0]
Row 5 : [0, 0, 0, 0, 0]
Row 6 : [0, 0, 0, 0, 0]
Row 7 : [0, 0, 0, 0, 0]
Row 8 : [0, 0, 0, 0, 0]
Row 9 : [0, 0, 0, 0, 0]

In [ ]:
# 6.  (5 points)  Given what you have done in question 5, now suppose we have two sequences (X and Y). The length of X is M, and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all values equal to 0. An example code is attached below:

In [56]:
def alignment_table1(sequence1, sequence2):
 m = len(sequence1)
 n = len(sequence2)
 print('Sequence 1:', sequence1, 'has', m, 'characters')
 print('Sequence 2:', sequence2, 'has', n, 'characters')
 number = 0
 number1 = 0
 row = []
 while number <= n:
   row.append(0)
   number = number + 1
 while number1 <= m:
   print(row)
   number1 = number1+ 1

In [57]:
alignment_table1('four', 'four')

Sequence 1: four has 4 characters
Sequence 2: four has 4 characters
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

In [ ]:
#7.  (10 points)  Given what you have done in question 6,  we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,

#a. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

#b. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

#write a python function to create an updated alignment table by initializing the first row and the first column. An example code is attached below:

In [61]:
def alignment_table2(sequence1, sequence2):
 m = len(sequence1)
 n = len(sequence2)
 print('Sequence 1:', sequence1, 'has', m, 'characters')
 print('Sequence 2:', sequence2, 'has', n, 'characters')
 row1 =[]
 rows =[]
 number = 0
 number1 = 0
 number2 = 0
 subtracting_value1 = 0
 subtracting_value2 = -1
 while number <= m:
   row1.append(subtracting_value1)
   rows.append(0)
   subtracting_value1 = subtracting_value1 - 1
   number = number +1
 while number1 != 1:
   print(row1)
   number1 = number1 + 1
 while number1 >= 1 and number1 <= n:
   rows[0] = subtracting_value2
   number1 = number1 + 1
   subtracting_value2 =subtracting_value2 - 1
   print(rows)

In [62]:
alignment_table2('four', 'four')

Sequence 1: four has 4 characters
Sequence 2: four has 4 characters
[0, -1, -2, -3, -4]
[-1, 0, 0, 0, 0]
[-2, 0, 0, 0, 0]
[-3, 0, 0, 0, 0]
[-4, 0, 0, 0, 0]