In [ ]:
##1.  (5 points) Given the following table/matrix, write a python code to store the table into python variable. (hint: saving rows in a list, each row can also be a list. In other words, each element in a list is also a list type).                                                                                                                                                                                                                                                     

matrix = [[1,1,1],[2,2,2],[3,3,3]]
for i in matrix: 
  print(i)

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
#2. (5 points)  Write for loop to print out the variable created in question 1. An example output is attached below:

for i in matrix: 
  print("Row:", i)

Row: [1, 1, 1]
Row: [2, 2, 2]
Row: [3, 3, 3]

In [ ]:
#3. (5 points)  Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. 


matrix = [[1,1,1],[2,2,2],[3,3,3]]
new_matrix = [[-1 if b == 1 else b for b in i] for i in matrix]
for i in new_matrix:
  print("Row:", i)

Row: [-1, -1, -1]
Row: [2, 2, 2]
Row: [3, 3, 3]

In [ ]:
#4. (5 points)  Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An example output is attached below:

#list_of_lists = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
#new_values = [1, 2, 3]  

#for list in list_of_lists:
 #   list[0] = new_values.pop(0)

matrix = [[1,1,1],[2,2,2],[3,3,3]]
new_matrix = [[-1 if b == 1 else b for b in i] for i in matrix]
new_values = [-1,-1,-1]  

for list in new_matrix: 
  list[0] = new_values.pop(0)
  for i in new_matrix:
    print("Row:",i)

Row: [-1, -1, -1]
Row: [2, 2, 2]
Row: [3, 3, 3]
Row: [-1, -1, -1]
Row: [-1, 2, 2]
Row: [3, 3, 3]
Row: [-1, -1, -1]
Row: [-1, 2, 2]
Row: [-1, 3, 3]

In [ ]:
#5. (5 points)  Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0. An example output is attached below

#Python program to create a m x n matrix 
# with all 0s 
m = 10
n = 5
  
alignment_table_1 = [[0 for x in range(n)] for x in range(m)] 
for i in alignment_table_1: 
    print(i)
#print(alignment_table_1)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

In [ ]:
##6.  (5 points)  Given what you have done in question 5, now suppose we have two sequences (X and Y).
# The length of X is M, and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all values equal to 0. 
#An example code is attached below:

############################################################################ 
# Implementation of initial alignment table for Pairwise Alignment algorithm 
############################################################################ 
def initial_alignment(sequence1,sequence2): 
  #sequence1 = 'AATTATATT'
  #sequence2 = 'ACGTTAT'
  x = len(sequence1)
  y = len(sequence2)
  #def alignment_table(sequence1, sequence2):
  #print("sequence1:" + sequence1 + "with" + x)
  #print("sequence2:" + sequence2 + "with" + y)
  m = x + 1
  n = y + 1
  alignment_table = [[0 for x in range(n)] for x in range(m)] 
  #print(alignment_table)
  for i in alignment_table: 
    print(i)

      ## print sequence 1

      ## print sequence 2

      ## print the initial alignment table with all values equal to 0

In [ ]:
sequence1 = 'AATTATATT'
sequence2 = 'ACGTTAT'
initial_alignment(sequence1, sequence2)

[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0]

In [32]:
#7.  (10 points)  Given what you have done in question 6,  we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,

#a. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

#b. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

#write a python function to create an updated alignment table by initializing the first row and the first column. An example code is attached below:
def alignment_table_updated2(sequence1, sequence2):
  x = 0 
  y = []

  print('Sequence1:', sequence1, len(sequence1))
  print('Sequence2:',sequence2, len(sequence2))
  print ('The table is:')
  for i in range (0,len(sequence1)+1):
    y.append([])


  for z in range (0,len(sequence1)+1):
    if z == 0: 
      for a in range(0,len(sequence2)+1):
        y[z].append(-a)
  for k in range(1,len(sequence1)+1):
    y[k].append(-k)
  for s in range(1,len(sequence1)+1):
    while len(y[s]) <= len(sequence2)+1:
      y[s].append(0)

  for i in range(0,len(sequence1)+1):
    print(x,y[i])

In [33]:
sequence1 = 'AATTATATT'
sequence2 = 'ACGTTAT'
(alignment_table_updated2(sequence1,sequence2))

Sequence1: AATTATATT 9
Sequence2: ACGTTAT 7
The table is:
0 [0, -1, -2, -3, -4, -5, -6, -7]
0 [-1, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-2, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-3, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-4, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-5, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-6, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-7, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-8, 0, 0, 0, 0, 0, 0, 0, 0]
0 [-9, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def replace(m, n, r, c):
    i = 0
    if len(n) + c > len(m[r]):
        return
    for each in n:
        m[r][c] = n[i]
        c += 1
        i += 1