In [ ]:
# Q1: Given the following table/matrix, write a python code to store the table into python variable. (hint: saving rows in a list, each row can also be a list. In other words, each element in a list is also a list type).

In [4]:
matrix = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [5]:
print(matrix)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
# Q2: Write for loop to print out the variable created in question 1. An example output is attached below:

In [18]:
test = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
index = 0
for row in test:
  print('row', index, ':', row)
  index = index + 1

row 0 : [1, 1, 1]
row 1 : [2, 2, 2]
row 2 : [3, 3, 3]

In [ ]:
# Q3: Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An example output is attached below:

In [10]:
test = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
test[0][0] = -1
test[0][1] = -1
test[0][2] = -1
print(test)

[[-1, -1, -1], [2, 2, 2], [3, 3, 3]]

In [11]:
test = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
for pos in range(0, 3):
  test[0][pos] = -1

print(test)

[[-1, -1, -1], [2, 2, 2], [3, 3, 3]]

In [1]:
 # Q4: Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An example output is attached below:

In [3]:
test = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
test[0][0] = -1
test[0][1] = -1
test[0][2] = -1
test[1][0] = -1
test[2][0] = -1
index = 0
for row in test:
  print('row', index, ':', row)
  for pos in range(0, 3):
    pos = -1
  index = index + 1

row 0 : [-1, -1, -1]
row 1 : [-1, 2, 2]
row 2 : [-1, 3, 3]

In [ ]:
# Q5: Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0. An example output is attached below

In [5]:
alighnment_table = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
index = 0 
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

row 0 : [0, 0, 0, 0, 0]
row 1 : [0, 0, 0, 0, 0]
row 2 : [0, 0, 0, 0, 0]
row 3 : [0, 0, 0, 0, 0]
row 4 : [0, 0, 0, 0, 0]
row 5 : [0, 0, 0, 0, 0]
row 6 : [0, 0, 0, 0, 0]
row 7 : [0, 0, 0, 0, 0]
row 8 : [0, 0, 0, 0, 0]
row 9 : [0, 0, 0, 0, 0]

In [ ]:
# Q6: Given what you have done in question 5, now suppose we have two sequences (X and Y). The length of X is M, and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all values equal to 0. An example code is attached below:

In [5]:
############################################################################ 
# Implementation of initial alignment table for Pairwise Alignment algorithm 
############################################################################ 

def alignment_table(sequence1, sequence2):
    ## print sequence 1
  sequence1 = 'AATTATATT'
  print(sequence1)
    ## print sequence 2
  sequence2 = 'ACGTTAT'
  print(sequence2)
    ## print the initial alignment table with all values equal to 0

In [10]:
sequence1 = 'AATTATATT'
print(sequence1)
sequence2 = 'ACGTTAT'
print(sequence2)
alighnment_table = [ ]
index = 0
for row in range(0, 10):
  x = [ ]
  for column in range (0, 8):
    x.append(0)
  alighnment_table.append(x) 
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

AATTATATT
ACGTTAT
row 0 : [0, 0, 0, 0, 0, 0, 0, 0]
row 1 : [0, 0, 0, 0, 0, 0, 0, 0]
row 2 : [0, 0, 0, 0, 0, 0, 0, 0]
row 3 : [0, 0, 0, 0, 0, 0, 0, 0]
row 4 : [0, 0, 0, 0, 0, 0, 0, 0]
row 5 : [0, 0, 0, 0, 0, 0, 0, 0]
row 6 : [0, 0, 0, 0, 0, 0, 0, 0]
row 7 : [0, 0, 0, 0, 0, 0, 0, 0]
row 8 : [0, 0, 0, 0, 0, 0, 0, 0]
row 9 : [0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
sequence1 = 'Sequence1: AATTATATT with Length 9'
print(sequence1)
sequence2 = 'Sequence2: ACGTTAT with Length 7'
print(sequence2)
test = 'The intial table with dimensions 10 and 8 for the sequence alighnment is:'
print(test)
alighnment_table = [ ]
index = 0
for row in range(0, 10):
  x = [ ]
  for column in range (0, 8):
    x.append(0)
  alighnment_table.append(x) 
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

Sequence1: AATTATATT with Length 9
Sequence2: ACGTTAT with Length 7
The intial table with dimensions 10 and 8 for the sequence alighnment is:
row 0 : [0, 0, 0, 0, 0, 0, 0, 0]
row 1 : [0, 0, 0, 0, 0, 0, 0, 0]
row 2 : [0, 0, 0, 0, 0, 0, 0, 0]
row 3 : [0, 0, 0, 0, 0, 0, 0, 0]
row 4 : [0, 0, 0, 0, 0, 0, 0, 0]
row 5 : [0, 0, 0, 0, 0, 0, 0, 0]
row 6 : [0, 0, 0, 0, 0, 0, 0, 0]
row 7 : [0, 0, 0, 0, 0, 0, 0, 0]
row 8 : [0, 0, 0, 0, 0, 0, 0, 0]
row 9 : [0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Q7: Given what you have done in question 6,  we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,

# a. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

# b. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].

# write a python function to create an updated alignment table by initializing the first row and the first column.

In [18]:
alighnment_table = [ ]
index = 0
for row in range(0, 20):
  x = [ ]
  for column in range (0, 10):
    x.append(0)
  alighnment_table.append(x) 
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

row 0 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 1 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 2 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 3 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 4 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 5 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 6 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 7 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 8 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 9 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 10 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 11 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 12 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 13 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 14 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 15 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 16 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 17 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 18 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 19 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
alighnment_table = [ ]
index = 0
for row in range(0, 20):
  x = [ ]
  for column in range (0, 10):
    if row == 0:
      x.append(-1*column)
    else:
      if column == 0:
        x.append(-1*row)
      else:
        x.append(0)
  alighnment_table.append(x)
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

row 0 : [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
row 1 : [-1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 2 : [-2, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 3 : [-3, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 4 : [-4, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 5 : [-5, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 6 : [-6, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 7 : [-7, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 8 : [-8, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 9 : [-9, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 10 : [-10, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 11 : [-11, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 12 : [-12, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 13 : [-13, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 14 : [-14, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 15 : [-15, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 16 : [-16, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 17 : [-17, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 18 : [-18, 0, 0, 0, 0, 0, 0, 0, 0, 0]
row 19 : [-19, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:
alignment_table = []
for row in range(0,10):
  row_list = []
  for col in range(0,5):
    row_list.append(0)
  alignment_table.append(row_list)

# initialize first column
for row in range(1,10):
  alignment_table[row][0] = alignment_table[row-1][0] -1
# initialize row
for col in range(1,5):
  alignment_table[0][col] = alignment_table[0][col-1] -1
    

for row in alignment_table:
  print(row)

[0, -1, -2, -3, -4]
[-1, 0, 0, 0, 0]
[-2, 0, 0, 0, 0]
[-3, 0, 0, 0, 0]
[-4, 0, 0, 0, 0]
[-5, 0, 0, 0, 0]
[-6, 0, 0, 0, 0]
[-7, 0, 0, 0, 0]
[-8, 0, 0, 0, 0]
[-9, 0, 0, 0, 0]

In [2]:
sequence1 = 'Sequence1: AATTATATT with Length 9'
print(sequence1)
sequence2 = 'Sequence2: ACGTTAT with Length 7'
print(sequence2)
test = 'The updated table with dimensions 10 and 8 for the sequence alighnment is:'
print(test)
alighnment_table = [ ]
index = 0
for row in range(0, 10):
  x = [ ]
  for column in range (0, 8):
    if row == 0:
      x.append(-1*column)
    else:
      if column == 0:
        x.append(-1*row)
      else:
        x.append(0)
  alighnment_table.append(x)
for row in alighnment_table:
  print('row', index, ':', row)
  index = index + 1

Sequence1: AATTATATT with Length 9
Sequence2: ACGTTAT with Length 7
The updated table with dimensions 10 and 8 for the sequence alighnment is:
row 0 : [0, -1, -2, -3, -4, -5, -6, -7]
row 1 : [-1, 0, 0, 0, 0, 0, 0, 0]
row 2 : [-2, 0, 0, 0, 0, 0, 0, 0]
row 3 : [-3, 0, 0, 0, 0, 0, 0, 0]
row 4 : [-4, 0, 0, 0, 0, 0, 0, 0]
row 5 : [-5, 0, 0, 0, 0, 0, 0, 0]
row 6 : [-6, 0, 0, 0, 0, 0, 0, 0]
row 7 : [-7, 0, 0, 0, 0, 0, 0, 0]
row 8 : [-8, 0, 0, 0, 0, 0, 0, 0]
row 9 : [-9, 0, 0, 0, 0, 0, 0, 0]