In [5]:
#Q1 Given the following table/matrix, write a python code to store the table into python variable. (hint: saving rows in a list,
#each row can also be a list. In other words, each element in a list is also a list type).      
x = [[1, 1, 1],
     [2, 2, 2],
     [3, 3, 3]]
print(x)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [6]:
#Q2 Write for loop to print out the variable created in question 1. An example output is attached below
row = 0
for elements in x:
  row = row+1
  print('Row', row,  ':', elements)

Row 1 : [1, 1, 1]
Row 2 : [2, 2, 2]
Row 3 : [3, 3, 3]

In [14]:
#Q3 Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An example output is attached below:
for pos in range(0, 3):
  x [0][pos]= -1

print(x)

[[-1, -1, -1], [2, 2, 2], [3, 3, 3]]

In [20]:
#Q4 Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An example output is attached below:
print(x [0][0], x[1][0], x[2][0])
for elements in range(0, 3):
  x[elements][0] = -1

print(x)

-1 -1 -1
[[-1, -1, -1], [-1, 2, 2], [-1, 3, 3]]

In [36]:
#Q5 Suppose we would like to create an alignment table with 10 rows and 5 columns, write python codes to create an alignment table with all values equal to 0. An example output is attached below:
def zeros(rows, cols):
    retval = []
    for x in range(rows):
        retval.append([])
        for y in range(cols):
            retval[-1].append(0)
    return retval
def print_matrix(mat):
    for i in range(0, len(mat)):
        print("[", end = "")
        for j in range(0, len(mat[i])):
            print(mat[i][j], end = "")
            if j != len(mat[i]) - 1:
                print("\t", end = "")
        print("]")
print_matrix(zeros(10, 5))

[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]

In [40]:
#Q6 Given what you have done in question 5, now suppose we have two sequences (X and Y). The length of X is M, 
# and the length of Y is N. We would like to create an alignment table with M+1 rows and N+1 columns,
def zeros(rows, cols):
    retval = []
    for x in range(rows):
        retval.append([])
        for y in range(cols):
            retval[-1].append(0)
    return retval
def print_matrix(mat):
    for i in range(0, len(mat)):
        print("[", end = "")
        for j in range(0, len(mat[i])):
            print(mat[i][j], end = "")
            if j != len(mat[i]) - 1:
                print("\t", end = "")
        print("]")
print_matrix(zeros(10, 5))

def needleman_wunsch(seq1, seq2):
    print(seq1, len(seq1))
    print(seq2, len(seq2))
    n = len(seq1)
    m = len(seq2)  
    
    score = zeros(m+1, n+1)
    return score
print_matrix(needleman_wunsch('ATCGAGT', 'GCAGTAGC'))

[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
[0	0	0	0	0]
ATCGAGT 7
GCAGTAGC 8
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]
[0	0	0	0	0	0	0	0]

In [42]:
#Q7 Given what you have done in question 6,  we create the initial alignment table for the two sequences (X and Y). Now we would like to initialize the first row and first column as the following rules,
#a. for the first row, filling out each value by the adding value -1 to its left cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].
#b. for the first column, filling out each value by the adding value -1 to its top cell's value. For instance, [0,0,0,0] will be [0, -1, -2, -3].
#write a python function to create an updated alignment table by initializing the first row and the first column. An example code is attached below:
def needleman_wunsch(seq1, seq2):
    print(seq1, len(seq1))
    print(seq2, len(seq2))
    n = len(seq1)
    m = len(seq2)  
    
    score = zeros(m+1, n+1)
  

    for i in range(0, m + 1):
        score[i][0] = gap_penalty * i
    
    for j in range(0, n + 1):
        score[0][j] = gap_penalty * j
   
    return score
print_matrix(needleman_wunsch('ATCGATCG', 'ATCGAGCT'))

ATCGATCG 8
ATCGAGCT 8
[0	-1	-2	-3	-4	-5	-6	-7	-8]
[-1	0	0	0	0	0	0	0	0]
[-2	0	0	0	0	0	0	0	0]
[-3	0	0	0	0	0	0	0	0]
[-4	0	0	0	0	0	0	0	0]
[-5	0	0	0	0	0	0	0	0]
[-6	0	0	0	0	0	0	0	0]
[-7	0	0	0	0	0	0	0	0]
[-8	0	0	0	0	0	0	0	0]